{% extends "base.html" %}
{% block _title %}
<h2> 兄弟，报上名来！</h2>
{% endblock %}
{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
	<fieldset>
		<legend>Login in </legend>
			 <label for="username">User name:</label>
    		<input type="text" name="username" value="" id="username"><br/>
   			 <label for="password">Password   : </label>
    		<input type="password" name="password" value="" id="password">
	 		<br/>
    <input type="submit" value="login" />
	</fieldset>
  </form>

{% endblock %}
