<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="author" content="ghh" />
		<meta name="description" content="djPaper" />
		<meta name="keywords" content="paper" />
		<title >  {% block title %} 页面标题 {% endblock %}    </title>	
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/global.css" media="screen" />
		<link rel="shortcut icon" href="{% get_static_prefix %}favicon.ico" />
		
		{% block style %} 
		
		{% endblock %}

		{% block jsCode %}
		<script type="text/javascript" src="{% get_static_prefix %}js/textsizer.js"></script>
		<script type="text/javascript" src="{% get_static_prefix %}js/rel.js"></script>
		<script type="text/javascript" src="{% get_static_prefix %}js/menu.js"></script>

		{% endblock %}
	</head>	

	<body>
	<div id="wrap">
		<div id="top">
			<h2><a href="/index" title="back to main page">DiPaper [V1]</a></h2>

					<div id="menu">
				<ul>
						 <li><a id="menu1" class="current" href="/index" onclick="javascript:doClick(this)" >home</a></li>
						 <li><a id="menu2" class="no" href="/people" onmousedown="javascript:doClick('menu2')">People</a></li>
						 <li><a id="menu3" class="no" href="/paper" onclick="javascript:doClick(this)">Paper</a></li>
						 <li><a id="menu4" class="no" href="/about" onClick="javascript:doClick(this)">About</a></li>
				 </ul>
			 </div>
		 </div>
		<div id="content">
			<div style="float: right;"><a href="javascript:ts('body',1)">[+]</a> | <a href="javascript:ts('body',-1)">[-]</a></div>
			<div id="left">
				{% block _title %} 
					<h2 >Add something in the _title 这个是设置页面的第一行标题 </h2>
		    	{% endblock %}
				{% block content %}
						<p> The content of the page! </p>
				 {% endblock %}
			</div>
			<div id="right">
					 <div class="box">
		     		     <h2 style="margin-top:17px">Recent Entries</h2>
		          			<ul>
		         			     <li><a href="#">Recent Entries1</a> <i>01 Des 06</i></li>
		         			     <li><a href="#">Recent Entries2</a> <i>01 Des 06</i></li>
		         			     <li><a href="#">Recent Entries3</a> <i>01 Des 06</i></li>
		         			     <li><a href="#">Recent Entries4</a> <i>01 Des 06</i></li>
		         			     <li><a href="#">Recent Entries5</a> <i>01 Des 06</i></li>
		         			 </ul>
		      		</div>
			</div>	
		<div id="clear"></div>	
	</div>
		<div id="footer">	
		 <p> Thanks for visting my site.<br/>
		 Copyright(c)2011.Designed by <a href="#" >ghh</a>. Tel:+086 029 84706459. Valid <a href="#">CSS</a> &amp; <a href="#">XHTML</a></p>
		</div>	
	</body>
</html>
