<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="author" content="ghh" />
		<meta name="description" content="djPaper" />
		<meta name="keywords" content="paper" />
		<title >  {% block title %} 页面标题 {% endblock %}    </title>	
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/global.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery.autocomplete.css" />
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/thickbox.css" />
		<link rel="shortcut icon" href="{% get_static_prefix %}favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="Django Papers | Recent Papers" href="/feeds/recent/" />
		{% block style %} 
		
		{% endblock %}
		
		{% block external %}
		{% endblock %}
		{% block jsCode %}
		<script type="text/javascript" src="{% get_static_prefix %}js/textsizer.js"></script>
		<script type="text/javascript" src="{% get_static_prefix %}js/rel.js"></script>
		<script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
		<script type="text/javascript" src="{% get_static_prefix %}js/jquery.autocomplete.js"></script>
		<script type="text/javascript" src="{% get_static_prefix %}js/lib/jquery.bgiframe.min.js"></script>
		<script type="text/javascript" src="{% get_static_prefix %}js/my_people_autocomplete.js"></script>
		<script type="text/javascript" src="{% get_static_prefix %}js/lib/thickbox-compressed.js"></script>
	{% endblock %}
	</head>	

	<body>
	<div id="wrap">
		<div id="top">
			<h2><a href="/index" title="back to main page">DjPaper [V1]</a></h2>
													

			<div id="menu">
				<ul>
						 <li><a href="/index" >首页</a></li>
						 <li><a href="/people" >作者</a></li>
						 <li><a href="/paper" >论文</a></li>
						 <li><a href="/advance">高级功能</a></li>
						 <li><a href="/depart">单位统计</a></li>
						 <li><a href="/search">搜索</a></li>
						 <li><a href="/about" >关于</a></li>
				</ul>
			 </div>
			
					 </div>
		<div id="content">
			<div style="float: right;">	
								{% if user.is_authenticated %}
								 欢迎{{ user.username }}(<a href="/accounts/logout/">注销</a>)
								{% else %}									
									{% include "login.html" %}| {% include "register.html" %}
								{% endif %}
								&nbsp;&nbsp;
								<a href="javascript:ts('body',1)">[+]</a> | <a href="javascript:ts('body',-1)">[-]</a></div>
			<div id="left">
				{% block _title %} 
					<h2 >Add something in the _title 这个是设置页面的第一行标题 </h2>
		    	{% endblock %}
								{% include "error_box_alert.html"  %}
				{% block content %}
						<p> The content of the page! </p>
				 {% endblock %}
			</div>
			<div id="right">
					{% load siderbar %}
					<table style="border:0px;">
						<tr><td>
						<div class='box' id='tag_cloud_box'>
					  		<h2 style="margin-top:17px">Tag Cloud </h2>
							{% get_tag_cloud %}		
						</div>			
					 	</td></tr>
						<tr><td><div class="box" id='top_10_box'>
					  <h2 style="margin-top:17px">Recent Entries(<font style="color:#9255ee;">Top 10</font>)</h2>
						{% get_top_10_paper %}
		          </div>
					</td></tr>
				</table>
			</div>	

		</div>
		<div id="clear"></div>	
		<div id="footer">	
		 <p> Thanks for visting my site.Valid <a href="#">CSS</a> &amp; <a href="#">XHTML</a><br/>
	Designed by <a href="#" >ghh</a>
			Tel:+086 029 84706459. <br/>
			 Copyright(c)2011-2013.</p>
		</div>	
	</body>
</html>
