{% block content %}
		{% if count > 0 %}
		<p style="color:gray;">find out <strong style="color:red;">{{ count }}</strong> paper{{ count|pluralize }} </p>
		<ul>	
			{% for paper in papers.object_list %}
				<li> <a href="{{ paper.get_ab_url }}" > {{ paper.title }} </a>(created by 
					<a href="/people/{{ paper.first_au.id }}">{{ paper.first_au }} </a> )
			{% endfor%}
		<hr/>
		<div class="paginator"	>
			{% if papers.has_previous %}
				<a href="?page={{ papers.previous_page_number }}&query={{ query }}">&laquo;Pervious</a>
			{% endif %}
			<span class="current">
				Page {{ papers.number }} of {{ papers.paginator.num_pages }}.
			</span>
			{% if papers.has_next %}
				<a href="?page={{ papers.next_page_number }}&query={{ query }}">Next &raquo;</a>
			{% endif %}
		</div>	
		</ul>	
		{% else %}
		<p style="color:gray;">nothing is found for your input;<br/> sorry for that ~~ :(</p>	
		{% endif %}
{%	endblock %}

