<a href="TB_inline?height=215&width=400&inlineId=registWindow" class="thickbox">register </a>
<div id="registWindow" style="display:none;" >
<form method="post" action="/accounts/register/"> {% csrf_token %}
	<label for="id_username">username:</label> <input id="id_username" type="text" name="username" maxlength="30" /></p>
	<p><label for="id_email">Email:</label> <input type="text" name="email" id="id_email" /></p>
	<p><label for="id_password1">Password:</label> <input type="password" name="password1" id="id_password1" /></p>
	<p><label for="id_password2">Password(Again):</label> <input type="password" name="password2" id="id_password2" /></p>
	<input type="submit" value="register" />
</form>
</div>

