{% extends "base.html" %}
{% load static %}
{% block title %} show the people {% endblock %}
{% block style %} 
	<link href="{% get_static_prefix %}css/global.css" type="text/css" rel="stylesheet" />
{% endblock %}
	
{% block _title %} <h1> The people you wanted  </h1>{% endblock %}

{% block content %}

	{% if error  %}
		<p style="color:red;"> no people exists! </p>
	{% else %}
		<ul>
					{% if people.headshot %}	
						{% load thumbnail %} 
						 <a href="{{ people.headshot.url}}" ><img src="{{ people.headshot.path|thumbnail:"width=200,height=200"  }}" class="headshot"/></a>
					{% endif %}
					<li>{{ people.name }}
						<font color="gray"> ( 
							<a href="/people/?name={{ people.name }}">同名？</a>
						) </font>
					</li>
				<hr/>
				{% if departTree %} 
				<li>{{ departTree }}</li>
				{% else %}
				<li> {{ people.departTree }} </li>
				{% endif %}
				<hr/>
			<li> work out papers list </li>
				{% for p in paper %}
				{{ forloop.counter }}:	
					<a href="{{ p.get_ab_url }}">{{ p.title }}</a><font color="gray">({{ p.get_class_type }}@{{ p.pub_date|date:"Y-m" }})</font><br/>
				{% endfor %}	
		<hr/>

	{% endif %}
	
{%	endblock %}

