{% extends "base.html" %}
{% block title %} show all the people {% endblock %}

{% block _title %} <h1> All the People </h1> {% endblock %}

{% block content %}

	{% if error  %}
		<p style="color:red;"> no people exists! </p>
	{% else %}
		<ul>	
			{% for p in people.object_list %}
				<li> <a href="{{ p.get_ab_url }}" > {{ p.name }} </a>(<font color="gray">{{ p.departTree }}</font>) </i>
			{% endfor%}
		</ul>	
	
	{% endif %}
<hr/>
		<div class="paginator"	>
			{% if people.has_previous %}
				<a href="?page={{ people.previous_page_number }}">&laquo;Pervious</a>
			{% endif %}
			<span class="current">
				Page {{ people.number }} of {{ people.paginator.num_pages }}.
			</span>
			{% if people.has_next %}
				<a href="?page={{ people.next_page_number }}">Next &raquo;</a>
			{% endif %}
		</div>
{%	endblock %}

