{% extends "base.html" %}
{% block title %} show the paper {% endblock %}
{% block style %}
{% endblock %}
{% block _title %} <h1> The Paper you wanted  </h1>
{% endblock %}

{% block content %}

	{% if error  %}
		<p style="color:red;"> no paper exists! </p>
	{% else %}
		<ul>	
				<li> {{ paper.title }}</li>
				<hr/>	
				created by 
				{% for au in paper.author.all %}
					<a href="/people/{{ au.id }}">{{ au }} </a>
				{% endfor %} 
				
				<br/>publisher : {{ paper.publication }} 
				<br/>Abstract: <p> {{ paper.abstract }} <br/> </p>
			 <br/>					<!-- 2011.06.19 需要用path，而不能用url，因为使用Image的thumbnail函数时候，先用Image.open(img_url)，这里的
						img_url必须是unicode的，而不是转义过的string[汉语变为%xx什么的]，否则会报错，no such file or directory,
						所以这里要用path这个unicode路径来表示-->
	
					pic缩略图 :
					{% load thumbnail %}
					 {% for p in pic.all %}
				<a href="{{ p.image.url}}" ><img src="{{ p.image.path|thumbnail:"width=50,height=50"  }}" class="paper"/></a>
								
					 {% endfor %} 
				 <br/>
				Tag : <font color='pink'>  {{ paper.all_the_tags }} </font> <br/>
			<hr/>
				All the commits <br/>
				{% for c in commit %}
				<br/>{{ forloop.revcounter }}楼:{{ c.content }}
					created by <a href="/people/{{ c.people.id }}" >{{ c.people }}</a> at {{ c.time }}
				{% empty %}
					 no commits 
				{% endfor %}
				<form action="" method="post"> {% csrf_token %}
					<table >
						{{ form.as_table }}
					</table>
					<input type="submit" value="submit">
				</form>
		</ul>	
	{% endif %}
{%	endblock %}

