hr.thin {
height: 1px;
border: 0;
color: #333;
background-color: #333;
} 

hr.redBold {
color: #f00;
background-color: #f00;
height: 5px;
}

hr.whiteGray {
border: 0;
color: #9E9E9E;
background-color: #9E9E9E;
height: 1px;
width: 100%;
text-align: left;
}

a {
 text-decoration:none;
}
a:hover
{ color:#fff;
  background:#333;
}

img {
border:0px;
}
